# Dependencies
node_modules/

# Build output
dist/
build/
packages/electron-app/release/
coverage/

# Turbo
.turbo/

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
# .cursor/

